.node {
  width: 25px;
  height: 25px;
  outline: 0.5px solid black;
  display: inline-block;
}

.startNode {
  background-color: green;
}

.finishNode {
  background-color: red;
}

.visitedNode {
  animation-name: visitedNodesAnimation;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes visitedNodesAnimation {
  0% {
    transform: scale(0.3);
    background-color: #c800ff;
    outline: 0;
    border-radius: 100%;
  }

  50% {
    background-color: #ff66ff;
    outline: 0;
  }

  75% {
    transform: scale(1.2);
    background-color: #9999ff;
    outline: 0;
  }

  100% {
    transform: scale(1);
    background-color: #4d4dff;
  }
}

.shortestPathNode {
  animation-name: shortestPathNodesAnimation;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards;
}

@keyframes shortestPathNodesAnimation {
  0% {
    transform: scale(0.3);
    background-color: palegoldenrod;
    outline: 0;
    border-radius: 40%;
  }

  50% {
    transform: scale(0.8);
    background-color: palegoldenrod;
    outline: 0;
  }

  75% {
    transform: scale(1.3);
    background-color: palegoldenrod;
  }

  100% {
    background-color: palegoldenrod;
    transform: scale(1);
  }
}

.isWall {
  background-color: black;
}
