.buttonsHeader {
  margin: auto;
  padding-top: 2.5%;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.running {
  pointer-events: none;
}

.infoModal {
  margin: auto;
  height: 350px;
  width: 350px;
  margin-top: 250px;
}

.green {
  color: green;
}

.red {
  color: red;
}

.modalContent {
  padding-top: 40px;
  text-align: center;
}
